<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 引入属性文件 -->
    <context:property-placeholder location="classpath:config.properties"/>

    <!--&lt;!&ndash; 自动扫描(自动注入) &ndash;&gt;-->
    <!--<context:component-scan base-package="com.cddaka">-->
    <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
    <!--<context:exclude-filter type="annotation"-->
    <!--expression="org.springframework.web.bind.annotation.ControllerAdvice"/>-->
    <!--</context:component-scan>-->


    <!--&lt;!&ndash;启用aop&ndash;&gt;-->
    <!--<aop:aspectj-autoproxy/>-->

    <!--&lt;!&ndash; 启动定时器 &ndash;&gt;-->
    <!--<task:annotation-driven/>-->
    <context:annotation-config/>
    <bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration"/>
    <!--<bean class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"/>-->
    <bean class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:hostName="${redis.hostName}"
          p:port="${redis.port}"
          p:password="${redis.password}"
          p:usePool="true"/>
</beans>
